<div id="friend-item" x-mojo-tap-highlight="momentary">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tr valign="center">
	    	<td align="center" width="50" valign="left">
	    		<div id="friend-img" style="-webkit-border-radius: 8px; width: 50px; height: 50px; background: url(#{-user.photo}) no-repeat center center; background-size: 50px;"></div>
	    	</td>
	        <td align="left" valign="center" class="venue-content">
	        	<div class="friend-name">#{-user.firstname} #{-user.lastname}</div>
				<div class="friend-location">#{-status}</div>
	        </td>
	    </tr>
	</table>
</div>