body.bgcolor{
	background: #000;
}
#header{
}
#header.alt{
	color: #fff;
	background: #000;
}
.alt{
	background: url(../../images/dark-map.png) center center no-repeat;
}
#header.first{
	color: #5c86a6;
	background: #1F394D;
}
#header.second{
	color: #C44D58;
	background: #7F1923;	
}
#header.third{
	color: #C7F464;
	background: #779F21;	
}
#header.fourth{
	color: #1F394D;
	background: #505050;	
}
#header.fifth{
	color: #1F394D;
	background: #505050;	
}
.first{
	background: #5c86a6;	
}
.second{
	background: #C44D58;
}
.third{
	background: #C7F464;
}
.fourth{
	background: #4ECDC4;
}
.fifth{
	background: #000;
}
#venue-item{
	background: #1F394D;
}
#friend-item{
	background: #7F1923;
}
