<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title">
		Search Venues
	</div>
	<div class="palm-dialog-separator"></div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="searchText" name="search" x-mojo-element="SmartTextField"></div>
		</div>	
    </div>
</div>

<div class="palm-dialog-buttons">
	<div id="searchButton" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Search
		</div>
    </div>
</div>